<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="secondary">Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>Faça o login com a sua conta do Google:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="medium" expand="block" size="large">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Autenticar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
